{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-2">Productos</h1>

            <ul class="list-group">
                {% for producto in producttos %}
                <a class="list-group-item" href="{% url 'tareas_detalles' tarea.id %}">
                        <header class="d-flex justify-content-between">
                            {% if producto.importante %}
                            <h1 class="fw-bold text-danger">{{ producto.titulo }}</h1>
                            {% else %}
                                <h1 class="fw-bold">{{ producto.titulo }}</h1>
                            {% endif %}
                            <p>{{ producto.user.username }}</p>
                        </header>

                        <p>{{ producto.descripcion }}</p>
                        <p>{{ producto.fecha_completado|date:'M j Y:i' }}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}
